<div class="ui visible left vertical pointing sidebar massive menu no-border sidemenu mini">
    <a class="item teal" href="{{ path('index') }}">
        <b>Vue globale</b>
    </a>
    <a class="item" href="{{ path('search') }}">
        <b>Entreprise</b>
    </a>
    <a class="item" href="{{ path('search_apprenticeship') }}">
        <b>Apprentissage</b>
    </a>
    <a class="item" href="{{ path('search_forum') }}">
        <b>Forum</b>
    </a>
    <a class="item" href="{{ path('search_convention') }}">
        <b>Conférence</b>
    </a>
    <a class="item" href="{{ path('import') }}">
        <b>Importation</b>
    </a>
</div>
