<div class="ui visible left vertical sidebar menu no-border sidemenu">

    <a href="dashboard-v1.html" class="ui medium image borderless">
        <img src="/img/bg/5.png" />
    </a>
    <a class="item title" href="{{ path('accueil') }}">
        <b>Main</b>
    </a>

    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Recherche
        </div>
        <div class="content">
            <a class="item" href="{{ path('recherche') }}">
                Stage
            </a>
            <a class="item" href="{{ path('recherche') }}">
                Entreprise
            </a>
            <a class="item" href="{{ path('recherche') }}">
                Apprentissage
            </a>
            <a class="item" href="{{ path('recherche') }}">
                Forum
            </a>
            <a class="item" href="{{ path('recherche') }}">
                Conférence
            </a>
        </div>
        <!-- -->
        <div class="title">

            <a class="item" href="{{ path('importation') }}">
                Importation
            </a>
        </div>

    </div>
</div>
