{% extends 'base/base.html.twig' %}
{% block content %}
    <div class="ui equal width left aligned padded grid stackable">
        <div class="row">

         <!-- card 1 : FORUM -->
          <!-- <div class="eight wide tablet four wide computer column">
            <div class="ui red card">
          <div class="content">
            <div class="header">Forum</div>
          </div>
          <div class="content">
        <h4 class="ui sub header">Nombre de forums au total: {{countForum}}</h4>

            <div class="ui small feed">
              <div class="event">
            <div class="content">
          <h5 class="ui sub header">Pour l'année {{yearForum}} : {{currentForums}}</h5>
              <div class="summary">
            <div class="ui list">
              <ul>
                <li>Déroulé(s) : {{countPastForums}}</li>
                <li>A venir : {{countFutureForums}}</li>
              </ul>
            </div>
              </div>
            </div>
      </div>
              </div>
              </div>
        <div class="extra content">
          <h4 class="ui sub header">Nombre d'entreprises : </h4>
        </div>
        <div class="extra content">
          <a href="{{ path('search_forum') }}" class="ui button">Recherche Avancée</a>
        </div>
          </div>
    </div> -->

    <!-- card 2 : CONF -->
    <div class="eight wide tablet four wide computer column">
        <div class="ui orange card">

          <div class="content">
            <div class="header">Conférences</div>
          </div>

          <div class="content">
            <h4 class="ui sub header">Nombre de Conférences au total: {{countConf}}</h4>
          </div>

          <div class="content">
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <h4 class="ui sub header">Pour l'année {{yearConference}} : {{currentConf}}</h4>
                  <div class="summary">
                    <div class="ui list">
                      <ul>
                        <li>Déroulé(s) : {{countPastConf}}</li>
                        <li>A venir : {{countFutureConf}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="content">
            <h4 class="ui sub header">Liste des entreprises : </h4>
          </div>

          <div class="extra content">
            <a href="{{ path('search_convention') }}" class="ui button">Recherche Avancée</a>
          </div>

        </div>
    </div>

    <!-- card 3 : ENTERPRISE -->
    <div class="eight wide tablet four wide computer column">
        <div class="ui yellow card">

          <div class="content">
            <div class="header">Entreprises</div>
          </div>

          <div class="content">
            <h4 class="ui sub header">Nombre d'Entreprises au total: {{enterpriseCount}}</h4>
          </div>

          <div class="content">
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <h4 class="ui sub header">TOP 3 : </h4>
                  <div class="summary">
                    <div class="ui list">
                      <ul>
                        <li>Stage</li>
                        <ol>
                          <li>{{top3enterprise[0]["nom_entreprise"]}} : {{top3enterprise[0]["stage_count"]}}</li>
                          <li>{{top3enterprise[1]["nom_entreprise"]}} : {{top3enterprise[1]["stage_count"]}}</li>
                          <li>{{top3enterprise[2]["nom_entreprise"]}} : {{top3enterprise[2]["stage_count"]}}</li>
                        </ol>
                        <li>Apprentissage</li>
                        <ol>
                          <li>{{top3Apprenticeship[0]["nom_entreprise"]}} : {{top3Apprenticeship[0]["apprenticeship_count"]}}</li>
                          <li>{{top3Apprenticeship[1]["nom_entreprise"]}} : {{top3Apprenticeship[1]["apprenticeship_count"]}}</li>
                          <li>{{top3Apprenticeship[2]["nom_entreprise"]}} : {{top3Apprenticeship[2]["apprenticeship_count"]}}</li>
                        </ol>
                        <li>Forum</li>
                        <ol>
                          <li>{{top3forum[0]["nom_entreprise"]}} : {{top3forum[0]["forum_count"]}}</li>
                          <li>{{top3forum[1]["nom_entreprise"]}} : {{top3forum[1]["forum_count"]}}</li>
                          <li>{{top3forum[2]["nom_entreprise"]}} : {{top3forum[2]["forum_count"]}}</li>
                        </ol>
                        <li>Conférence</li>
                        <ol>
                          <li>{{top3conference[0]["nom_entreprise"]}} : {{top3conference[0]["conference_count"]}}</li>
                          <li>{{top3conference[1]["nom_entreprise"]}} : {{top3conference[1]["conference_count"]}}</li>
                          <li>{{top3conference[2]["nom_entreprise"]}} : {{top3conference[2]["conference_count"]}}</li>
                        </ol>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="extra content">
            <a href="{{ path('search') }}" class="ui button">Recherche Avancée</a>
          </div>

        </div>
    </div>


    <!-- card 4 : APPRENTICESHIP -->
    <div class="eight wide tablet four wide computer column">
        <div class="ui green card">

          <div class="content">
            <div class="header">Apprentissages</div>
          </div>

          <div class="content">
            <h4 class="ui sub header">Nombre d'Apprentissages au total : {{countApp}}</h4>
          </div>

          <div class="content">
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <h4 class="ui sub header">Pour l'année {{currentYearApp}} :
                    {{totalCurrentApp}}</h4>
                  <div class="summary">
                    <div class="ui list">
                      <ul>
                        <li>En cours : {{ongoingApp}}</li>
                        <li>Terminés : {{finishedApp}}</li>
                        <li>A venir : {{tocomeApp}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <a href="{{ path('search') }}" class="ui button">Recherche Avancée</a>
          </div>

        </div>
    </div>


    <!-- card 5 : INTERNSHIP -->
    <div class="eight wide tablet four wide computer column">
        <div class="ui teal card">

          <div class="content">
            <div class="header">Stages</div>
          </div>

          <div class="content">
            <h4 class="ui sub header">Nombre de stages au total : {{countInt}}</h4>
            <div class="ui list">
              <ul>
                <li>En France : {{countFranceInt}}</li>
                <li>A l'étranger : {{countAbroadInt}}</li>
              </ul>
            </div>
          </div>

          <div class="content">
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <h4 class="ui sub header">Pour l'année {{currentYearInt}} : {{countCurrentInt}}</h4>
                  <div class="summary">
                    <div class="ui list">
                      <ul>
                        <li>En cours : {{totalOngoing}}
                          <ul>
                            <li>En France : {{ongoingFr}}</li>
                            <li>A l'étranger : {{ongoingAb}}</li>
                          </ul>
                        </li>
                        <li>Terminés : {{countFinished}}
                          <ul>
                            <li>En France : {{finishedFr}}</li>
                            <li>A l'étranger : {{finishedAb}}</li>
                          </ul>
                        </li>
                        <li>A venir : {{countToCome}}
                          <ul>
                            <li>En France : {{tocomeFr}}</li>
                            <li>A l'étranger : {{tocomeAb}}</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <a href="{{ path('search') }}" class="ui button">Recherche Avancée</a>
          </div>

        </div>
    </div>


        </div>
    </div>
{% endblock %}
