{% extends 'base/base.html.twig' %}
{% block title %}Detail{% endblock %}

{% block content %}
    <div class="container">
        <div class="ui equal width left aligned padded grid stackable">
            <div class="row">
                <div class="one column">
                    <div class="ui segments">
                        <div class="ui segment inverted blueli">
                            <h3 class="ui header">
                                L'Information d'Établissement
                            </h3>
                        </div>
                        <div class="ui segment">
                            <div class="column">
                                <div class="ui segment">
                                    <div class="ui link items">
                                        <div class="item">
                                            <div class="ui tiny image">
                                                <img src="/img/company.png">
                                            </div>
                                            <div class="content">
                                                <span class="header">{{ establishment.nomEtablissement }}</span>
                                                <div class="meta">
                                                    <span class="cinema">{% if establishment.idAdresse is not null %} {{establishment.idAdresse.adresse}} {% endif %}, {% if establishment.idAdresse.idVille is not null %} {{ establishment.idAdresse.idVille.nomVille }} {% endif %}</span>
                                                </div>
                                                <div class="description">
                                                    <p>{% if establishment.idAdresse.idVille.idPays is not null %} {{ establishment.idAdresse.idVille.idPays.nomFrFr }} {% endif %}</p>
                                                </div>
                                                <div class="extra">
                                                    <div class="ui teal label">{% if establishment.numSiret is not null %} {{ establishment.numSiret}} {% endif %}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--combo box-->
            <div class="row">
                <div class="two wide column" id="hide_dropdown_depart">
                     <select class="ui dropdown" id="department_select" name="depart">
                        <option value="all">Tous les départements</option>
                        {% for d in department %}
                            <option value="{{ d.libelleDepartement }}">{{ d.libelleDepartement }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="tab_etab" class="row">
                <div class="sixteen wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui top attached tabular menu">
                                <a class="active item red" data-tab="first">Stage</a>
                                <a class="item teal" data-tab="second">Apprentissage</a>
                                <a class="item blue" data-tab="third">Forum</a>
                                <a class="item green" data-tab="fourth">Conférence</a>
                                <a class="item yellow" data-tab="fifth">Taxe d'apprentissage</a>
                            </div>
                            <div class="ui bottom attached active tab segment" data-tab="first">
                                <div class="row">
                                    <div class="ui equal width left aligned padded grid">

                                        <!--chart 1-->
                                        <div class="eight wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Nombre de stagiaires</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <canvas id="line-area1"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                        <!--chart 2-->
                                        <div class="eight wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Taux de stagiaires rémunérés</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <canvas id="line-area2"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--table of student-->
                                    <div class="ui equal width left aligned padded grid">
                                        <div class="sixteen wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Liste des stagaires</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <table id="data_table_intern" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Numéro étudiant</th>
                                                            <th>Nom</th>
                                                            <th>Prénom</th>
                                                            <th>Tuteur pédagogique</th>
                                                            <th>Tuteur professionnel</th>
                                                            <th>Année stage</th>
                                                            <th>Sujet</th>
                                                            <th>Département</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for t in trainee %}
                                                        	<tr>
                                                        		<td>{{ t.idEtudiant.numeroEtudiant }}</td>
                                            					<td>{{ t.idEtudiant.idPersonne.nom }}</td>
                                                                <td>{{ t.idEtudiant.idPersonne.prenom }}</td>
                                                                <td>{% if t.idContactEtablissementTuteur is not null %} {{ t.idContactEtablissementTuteur.idPersonne.nom }} {{ t.idContactEtablissementTuteur.idPersonne.prenom }} {%endif%}</td>
                                                                <td>{% if t.idPersonnelPolytechTuteur is not null %} {{ t.idPersonnelPolytechTuteur.idPersonne.nom }}  {{ t.idPersonnelPolytechTuteur.idPersonne.prenom }} {%endif%}</td>
                                                                <td>{{ t.dateCreation|date('Y') }}</td>
                                                                <td>{{ t.idStage.sujetStage }}</td>
                                                                <td>{{ t.idSpecialite.idDepartement.libelleDepartement }}</td>
                                                        	</tr>
                                            				{% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!--apprentissage-->
                            <div class="ui bottom attached tab segment" data-tab="second">
                                <div class="row">
                                    <div class="ui equal width left aligned padded grid">

                                        <!--chart 1-->
                                        <div class="eight wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Nombre d'apprentis</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <canvas id="line-area-apprentissage1"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--table of student-->
                                    <div class="ui equal width left aligned padded grid">
                                        <div class="sixteen wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Liste des apprentis</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <table id="data_table_apprenti" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Numéro étudiant</th>
                                                            <th>Nom</th>
                                                            <th>Prénom</th>
                                                            <th>Année</th>
                                                            <th>Département</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for a in apprenticeship %}
                                                            <tr>
                                                                <td>{{ a.idPersonneEtudiant.numeroEtudiant }}</td>
                                                                <td>{{ a.idPersonneEtudiant.idPersonne.nom }}</td>
                                                                <td>{{ a.idPersonneEtudiant.idPersonne.prenom }}</td>
                                                                <td>{{ a.dateDebutApprentissage|date('Y') }}</td>
                                                                <td>{{ a.idSpecialite.idDepartement.libelleDepartement }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="third">
                                <div class="ui equal width left aligned padded grid">
                                    <div class="row">

                                        {% for t in type_forum %}
                                            {% set idx_type_forum = loop.index0 %}
                                            <div class="four wide column">
                                                <div class="ui segments">
                                                    <div class="ui segment">
                                                        <h3 class="ui header">{{ t.libelleTypeForum }}</h3>
                                                    </div>
                                                        <div class="ui segment">
                                                            <div class="ui feed timeline">

                                                            {% for f in forum[idx_type_forum] %}
                                                                {% set idx_forum = loop.index0 %}
                                                                <div class="event">
                                                                    <div class="label">
                                                                        <img src=" {{ logo[idx_type_forum][idx_forum] }} ">
                                                                    </div>
                                                                    <div class="content">
                                                                        <div class="summary">
                                                                            <h3 class="head">
                                                                                {{ f }}
                                                                            </h3>
                                                                        </div>
                                                                        <div class="meta"></div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="fourth">

                                <!--table of intervenant-->
                                <div class="ui equal width left aligned padded grid">
                                    <div class="sixteen wide column">
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h3 class="ui header">Liste des intervenants</h3>
                                            </div>
                                            <div class="ui segment">
                                                <table id="data_table_intervenant" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                        <th>Sujet</th>
                                                        <th>Date</th>
                                                        <th>Mail</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for c in convention %}
                                                        <tr>
                                                            {% for contact in c.idContactEtablissement %}
                                                                <td>{{ contact.idPersonne.nom }}</td>
                                                                <td>{{ contact.idPersonne.prenom }}</td>
                                                                <td>{{ c.sujetConference }}</td>
                                                                <td>{{ c.dateConference|date('Y-m-d') }}</td>
                                                                <td>{{ contact.mailProfessionnel }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="ui bottom attached tab segment" data-tab="fifth">

                                <div class="row">
                                    <div class="ui equal width center aligned padded grid">

                                        <!--chart total-->
                                        <div class="eight wide column">
                                            <div class="ui segments">
                                                <div class="ui segment">
                                                    <h3 class="ui header">Tous les départements</h3>
                                                </div>
                                                <div class="ui segment">
                                                    <canvas id="line-area_taxeApprentissageTotal"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ui equal width left aligned padded grid">

                                        {% for d in department %}
                                            <div class="eight wide column">
                                                <div class="ui segments">
                                                    <div class="ui segment">
                                                        <h3 class="ui header">{{ d.libelleDepartement }}</h3>
                                                    </div>
                                                    <div class="ui segment">
                                                        <canvas id={{ 'line-area_taxeApprentissage' ~ d.libelleDepartement }}></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script >
        $('.menu .item').tab();
    </script>
    <script src="/plugins/datatable/jquery.dataTables.js"></script>
    <script src="/plugins/chartjs/Chart.min.js"></script>
    <script src="/plugins/adress/jquery.address.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/customjs/custom-datatable.js"></script>
    <script src="/js/establishmentDetail.js"></script>
{% endblock %}
